.form {
  
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #D6DDFF;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 30px;
}

.form__header, .form_sub-header {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;

  color: #2E3D8F;

  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
}

.form_sub-header {
  margin-top: 20px;
  font-size: 20px;
}

.form__section {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: auto auto;
  gap: 16px 36px;
}

.form__nav-main {
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
}

.form__nav-left, .form__nav-right {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.form__review {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form__hr {
  padding: 0px;
  margin-block: 30px;
  border-color: #D6DDFF;
  border-style: solid;
  border-width: 0px;
  border-top-width: 2px;
  border-radius: 5px;
}

.form__container--centre{
  display:flex;
  justify-content: center;
}

.progress-bar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-button--variant-solid {
  padding: 8px 24px;
  font-size: 20px;
}
